html {
	background: ##ddeefc;
	height: 97%;
	font-family: "Source Sans Pro", sans-serif;
  	font-size: 16px;
}

body{
	margin: 0;
}

input[type=text]{
	width: 50%;
	padding: 5px;

}



a{
	color: inherit;
	text-decoration: none;
	padding: 10px;
	background-color:trasparent;


}
a.page:hover{
	margin: auto;
	outline: solid 1px !important;
	padding: 10px;
}

a#register{

	text-decoration: underline;

}

#loginhtml{
	background-color: #ddeefc;
	width: auto;
	height: 100%;
	border: 0;
	margin: 0;
}

.wrapper{
	background:white;
	padding: 10px;
	margin: auto;
	top: 100px;
	align-items: center;
	display: flex;
  flex-direction: column;
  border: 1px solid grey;
  width: 500px;
  height: 300px;
	position:relative;
  justify-content: center;
  text-align: center;
  box-shadow: 3px 3px darkgrey;

}

#container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
	width: 500px;
	height: 250px;
	padding-top: 30px;
	padding-bottom: 20px;
}


#L1{
	text-align: center;
	color: #1a3b5d;
}

form#formLogin{
	align-items: center;
	padding: 10px;
	width: 500px;
	height: 200px;

}

input[type=text].loginIn{
	margin: 2px;

}

#login{
	display: flex;
	align-items: center;
	justify-content: center;

}

.topper{
	position: static;
	background-color: #004280;
	padding: 0px;
	top: 0;
	height: 100%;
}

#toptable{
	border-collapse: separate;
	border-spacing: 0 5px;

	width:100%;
	height: 100%;
	align="center";
	background-color: #004280;
}


ul#menu{
	margin-top: 16;
	margin-right: 0;
	padding-left: 0;
	size:400px;
}


ul#menu li{
	color: white;
  display: inline;
  margin: 30px;
	font-family: cursive;
	padding: 0;
}

topper>div.search{
	padding: 10px;
  padding-right: 10px;
}

.search{
	padding: 10px;
	display: inline;
	width: 50%;
	text-align: center;
}
.search>inpu{
	width: 80%;
}
.search>button{
	width: 20%;
}

input[type=text].search{
	width:80%;
}



#customsearch{
	padding: 5px;

}

#BackLogin{
	margin-left: 0px;
	font-family: cursive;
	color: white;


}

#C1{
  color: white;
  padding-left: 100px;
	font-family: cursive;
	margin: 0px;
}

#C3{
  color: #121032;
  padding-left: 100px;
  font-weight: normal;
  font-family: cursive;
}



.recentSeen{
    position: relative;
    background-color: #e9e8fc;
    width: auto;
    height: 400px;
    opacity: 0.8;
    padding: 0px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 0px;

}

ul#lastseen{
	padding-left: 10px;
}

ul#lastseen li{
  display: inline;
  list-style-type: none;
  background-color: white;
  margin:0;
  width: 30px;
  height: 300px;
  background-size: 1px;

}
